<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
>

<extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="mmrnmhrm.ui.DeeUILanguageToolkit"
          nature="mmrnmhrm.core.nature"
          priority="0"/>
 </extension>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.DeeDocumentSetupParticipant"
            contentTypeId="mmrnmhrm.core.content.dsource">
      </participant>
   </extension>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.DeeDocumentSetupParticipant"
            extensions="d, di, dh">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="mmrnmhrm.ui.DeeUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/d-dark_ovr.gif"
            id="mmrnmhrm.ui.deeProjectNatureImage"
            natureId="mmrnmhrm.core.nature"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="mmrnmhrm.category"
            name="Dee (Mmrnmhrm)"/>
      <wizard
            category="mmrnmhrm.category"
            class="mmrnmhrm.ui.wizards.DeeNewProjectCreationWizard"
            icon="icons/obj16/dee_project.gif"
            id="mmrnmhrm.ui.wizards.deeProjectWizard"
            name="Dee Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="mmrnmhrm.ui.preferences.pages.DeeBuildPathPropertyPage"
            id="mmrnmhrm.ui.properties.DeeBuildPathProperties"
            name="D Build Path (Mmrnmhrm)">
         <enabledWhen>
            <reference
                  definitionId="mmrnmhrm.core.expressions.isDeeNature">
            </reference>
         </enabledWhen>
      </page>
      <page
            class="mmrnmhrm.ui.preferences.pages.DeeProjectOptionsPropertyPage"
            id="mmrnmhrm.ui.properties.DeeCompileOptionsProperties"
            name="D Compile Options">
         <enabledWhen>
            <reference
                  definitionId="mmrnmhrm.core.expressions.isDeeNature">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mmrnmhrm.ui.preferences.pages.DeeRootPreferencePage"
            id="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
            name="%LangPreferencePage.name"/>
      	<page
	          category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
	          class="mmrnmhrm.ui.preferences.pages.DeeEditorPreferencePage"
	          id="mmrnmhrm.ui.preferences.Editor"
	          name="%LangEditorPreferencePage.name"/>
	    <page
	          category="mmrnmhrm.ui.preferences.Editor"
	          class="mmrnmhrm.ui.preferences.pages.DeeSourceColoringPreferencePage"
	          id="mmrnmhrm.ui.preferences.editor.SourceColoring"
	          name="%LangEditorSyntaxColoringPreferencePage.name"/>
     	<page
              category="mmrnmhrm.ui.preferences.Editor"
              class="mmrnmhrm.ui.preferences.pages.DeeTemplatePreferencePage"
              id="mmrnmhrm.ui.preferences.editor.CodeTemplates"
              name="%LangCodeTemplatesPreferencePage.name">      
            
      </page>
      <page
            category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
            class="mmrnmhrm.ui.preferences.pages.DeeCompilersPreferencePage"
            id="mmrnmhrm.ui.preferences.DeeCompilers"
            name="%LangCompilersPreferencePage.name">
      </page>
   </extension>
   	 <extension
	     point="org.eclipse.ui.editors">
	  <editor
         class="mmrnmhrm.ui.editor.DeeEditor"
         contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
         default="true"
         icon="icons/obj16/dee_file.gif"
         id="mmrnmhrm.ui.editors.DeeEditor"
         name="%LangEditor.name">
      <contentTypeBinding
            contentTypeId="mmrnmhrm.core.content.dsource">
      </contentTypeBinding>
      </editor>
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="mmrnmhrm"
            name="Dee"/>
      <view
            category="mmrnmhrm"
            class="mmrnmhrm.ui.views.ASTViewer"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.views.ASTViewer"
            name="D AST Viewer (Mmrnmhrm)"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%LangEditContext.name"
            description="%LangEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="mmrnmhrm.ui.contexts.DeeEditor">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="mmrnmhrm.ui.expressions.activeEditorIsDeeEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
            <definition
            id="mmrnmhrm.ui.expressions.inView">
         <with
               variable="activePartId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="mmrnmhrm.ui.expressions.inDeeActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="mmrnmhrm.ui.deeActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
      

   </extension>
   
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="mmrnmhrm.ui.editor.templates.DeeUniversalTemplateContextType"
          id="DeeUniversalTemplateContextType"
          name="%LangTemplateContext.name">
    </contextType>
    <include
          file="default-templates.xml"
          translations="default-templates.properties">
    </include>
    <!--<include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include> -->
 </extension>   

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="mmrnmhrm.ui.deeActionSet"
            label="Mmrnmhrm Dee Action Set"
            visible="true">

         <menu
               label="%SearchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
			   <groupMarker name="dialogGroup"/>
         </menu>
            
         <action
               class="mmrnmhrm.ui.actions.DeeOpenSearchPageAction"
               definitionId="mmrnmhrm.ui.commands.openDeeSearchPage"
               icon="icons/search_obj.gif"
               id="deeOpenSearchPage"
               label="%OpenLangSearchPageAction.label"
               menubarPath="org.eclipse.search.menu/dialogGroup">
         </action>
 
           <action
               definitionId="mmrnmhrm.ui.commands.deeOpenTypeInHierarchy"
               label="%OpenTypeInHierarchyAction.label"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="mmrnmhrm.ui.actions.DeeOpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
            
         <action
            class="mmrnmhrm.ui.actions.DeeOpenTypeAction"
            definitionId="mmrnmhrm.ui.commands.openDeeType"
            icon="icons/action16e/opentype.gif"
            id="openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Mmrnmhrm Command Category"
            id="mmrnmhrm.ui.commands.category1"
            name="Mmrnmhrm Command Category">
      </category>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest1Handler"
            id="mmrnmhrm.ui.commands.sampleCommand"
            name="Test Action">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest2Handler"
            id="mmrnmhrm.ui.commands.sampleCommand2"
            name="Test Action2">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.RefreshModelHandler"
            id="mmrnmhrm.ui.commands.refreshModel"
            name="Refresh Dee Model">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.AddSourceFolderHandler"
            id="mmrnmhrm.ui.commands.buildPathAdd"
            name="Add as Folder Library">
      </command>
	<command
       categoryId="mmrnmhrm.ui.commands.category1"
       id="mmrnmhrm.ui.commands.openDefinition"
       name="Open Definition">
      </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeInvokeContentAssistHandler"
       id="mmrnmhrm.ui.commands.invokeContentAssist"
       name="Content Assist (Mmrnmhrm)">
 </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenTypeHandler"
       id="mmrnmhrm.ui.commands.openDeeType"
       name="%OpenTypeAction.label">
 </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenSearchPageHandler"
       id="mmrnmhrm.ui.commands.openDeeSearchPage"
       name="%OpenLangSearchPageAction.label">
 </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       id="org.eclipse.dltk.ui.edit.text.script.search.references.in.workspace"
       name="&quot;&lt;FNORD&gt;&quot;">
 </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mmrnmhrm.ui.actions.SampleHandler"
            commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="mmrnmhrm.ui.editors.DeeEditor">
              </equals>
           </with>
        </activeWhen>
         
      </handler>
      <handler
            class="mmrnmhrm.ui.actions.GoToDefinitionHandler"
            commandId="mmrnmhrm.ui.commands.openDefinition">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="mmrnmhrm.ui.toolbars.sampleToolbar">
            <command
                  commandId="mmrnmhrm.ui.commands.openDeeType"
                  icon="icons/action16e/opentype.gif"
                  label="%OpenTypeAction.label"
                  tooltip="%OpenTypeAction.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.openDefinition"
                  icon="icons/action16e/gotodef.gif"
                  label="Open Definition">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="mmrnmhrm.ui.toolbars.sampleToolbar">
            <command
                  commandId="mmrnmhrm.ui.commands.refreshModel"
                  icon="icons/action16e/declipse.gif"
                  label="Refresh D Model"
                  tooltip="Refresh D Model">
               <visibleWhen>
                  <equals
                        value="false">
                  </equals>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.sampleCommand2"
                  icon="icons/action16e/spathi.16.gif"
                  label="Sample Command2">
               <visibleWhen>
                  <equals
                        value="false">
                  </equals>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
            <menuContribution
                  locationURI="popup:org.eclipse.dltk.ui.ScriptExplorer?after=group.edit">
               <!--
               <menu
                     label="Build Path Extras">
                     
                  <command
                        commandId="mmrnmhrm.ui.commands.buildPathAdd"
                        icon="icons/jar_l_obj.gif"
                        mnemonic="%contributions.view.edit.mnemonic">
                     <visibleWhen>
                        <with
                              variable="activeMenuSelection">
                           <iterate
                                 operator="or">
                              <instanceof
                                    value="org.eclipse.core.resources.IFolder">
                              </instanceof>
                              <and>
                                 <instanceof
                                       value="org.eclipse.core.resources.IFile">
                                 </instanceof>
                                 <test
                                       property="matchesName"
                                       value="*.zip">
                                 </test>
                              </and>
                           </iterate>
                        </with>
                     </visibleWhen>
                  </command>
                             <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        operator="and">
                     <reference
                           definitionId="mmrnmhrm.core.expressions.isDeeNatureContainer">
                     </reference>
                  </iterate>
               </with>
            </visibleWhen>
   
               </menu>
               -->
            </menuContribution>
            <menuContribution
                  locationURI="popup:org.eclipse.dltk.ui.buildpath.menu?before=buildpathGroup">
               <command
                     commandId="mmrnmhrm.ui.commands.buildPathAdd"
                     icon="icons/lcl16e/add_as_source_folder.gif"
                     mnemonic="%contributions.view.edit.mnemonic">
                  <visibleWhen>
                     <with
                           variable="activeMenuSelection">
                        <iterate>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                        </iterate>
                     </with>
                  </visibleWhen>
               </command>
            </menuContribution>
      
      

      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mmrnmhrm.ui.commands.refreshModel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F5">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDefinition"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.invokeContentAssist"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Space">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDeeType"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDeeSearchPage"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+H">
      </key>
      <key
            commandId="org.eclipse.dltk.ui.edit.text.script.search.references.in.workspace"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
   </extension>

 <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="mmrnmhrm.ui.search.DeeSearchPage"
            enabled="true"
            extensions="d,di,dh:90"
            icon="$nl$/icons/sample.gif"
            id="mmrnmhrm.ui.DeeSearchPage"
            label="%LangSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>   
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mmrnmhrm.ui.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="mmrnmhrm.ui.navigator.DeeNavigatorContentProvider"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.navigatorContent"
            labelProvider="mmrnmhrm.ui.navigator.DeeNavigatorLabelProvider"
            name="Dee Elements"
            priority="high">
         <triggerPoints>
            <or>
               <reference
                     definitionId="mmrnmhrm.core.expressions.isDeeNature">
               </reference>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.core.resources.IResource"/>
               <instanceof
                     value="org.eclipse.dltk.core.IModelElement">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="mmrnmhrm.ui.navigator.DeeCommonActionProvider"
               id="mmrnmhrm.ui.actions.navigatorActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="mmrnmhrm.ui.texteditor.deeCodeTarget"
            name="Dee Code Target">
         <context
               type="org.eclipse.ui.texteditor.ITextEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector"
            id="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector2"
            name="Dee Element"
            targetId="mmrnmhrm.ui.texteditor.deeCodeTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="mmrnmhrm.ui.wizards.DeeCompilerContainerWizardPage"
            id="mmrnmrhm.core.launching.INTERPRETER_CONTAINER"
            name="D System Libraries"
            nature="mmrnmhrm.core.nature">
      </buildpathContainerPath>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="mmrnmhrm.ui.launch.DeeTabGroup"
            description="%LangTabGroup.description"
            id="mmrnmhrm.ui.launchConfigurationTabGroup1"
            type="mmrnmhrm.core.deeLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="mmrnmhrm.ui.launch.DeeLaunchShortcut"
            description="%LangLaunchShortcut.description"
            icon="$nl$/icons/d_app.gif"
            id="mmrnmhrm.ui.launch.launchShortcut"
            label="%LangLaunchShortcut.name"
            modes="run, debug">
         <description
               description="%LangLaunchShortcut.runDescription"
               mode="run">
         </description>
         <description
               description="%LangLaunchShortcut.debugDescription"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
              <with variable="selection">
                <count value="1"/>
                <iterate>
                  <!--
                  <test args="mmrnmhrm.core.nature"
                    property="org.eclipse.dltk.launching.hasProjectNature">
                  </test>
                  -->
                  <or>
                    <adapt type="org.eclipse.core.resources.IFile">
                      <test property="org.eclipse.core.resources.name" value="*.exe" />
                    </adapt>
                    <adapt type="org.eclipse.core.resources.IProject">
                      <test property="org.eclipse.core.resources.projectNature"
                        value="mmrnmhrm.core.nature"/>
                    </adapt>
               	  </or>
                </iterate>
              </with>
            </enablement>
            <contextLabel
                  label="%LangLaunchShortcut.runName"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="%LangLaunchShortcut.debugName"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="mmrnmhrm.core.deeLaunchConfigurationType"
            icon="$nl$/icons/d_app.gif"
            id="mmrnmhrm.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   
   
   	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="mmrnmhrm.ui.editors.DeeEditor"
			id="mmrnmhrm.ui.editor.DeeEditor.BreakpointRulerActions">

			<action label="%ToggleBreakpoint.label"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				style="push" actionID="RulerDoubleClick"
				id="DeeEditor.doubleClickBreakpointAction" />
		</editorContribution>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="mmrnmhrm.debug.ui.rulerContribution"
			targetID="#DeeRulerContext">

			<action label="%EnableDisableBreakpoint.label"
				id="mmrnmhrm.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				menubarPath="debug">
			</action>

			<action label="%ToggleBreakpoint.label"
				id="mmrnmhrm.ui.actions.RulerToggleBreakpointActionDelegate"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="debug">
			</action>

			<action
				class="org.eclipse.dltk.debug.ui.actions.ScriptBreakpointPropertiesRulerActionDelegate"
				id="mmrnmhrm.debug.ui.ScriptBreakpointPropertiesRulerActionDelegate"
				label="%BreakpointProperties.label" 
				menubarPath="group.properties" />
		</viewerContribution>
		
		<viewerContribution 
			targetID="#DeeEditorContext"
			id="mmrnmhrm.ui.DebugPopupActions">
			<visibility>
				<and>
					<systemProperty
						name="org.eclipse.dltk.debug.ui.debuggerActive" value="true">
					</systemProperty>
					<objectClass
						name="org.eclipse.jface.text.ITextSelection">
					</objectClass>
				</and>
			</visibility>
			<!-- icon="$nl$/icons/etool16/watch_exp.gif" -->
			<action label="%ScriptWatch.label"
				class="org.eclipse.dltk.internal.debug.ui.actions.ScriptWatchAction"
				menubarPath="additions"
				id="mmrnmhrm.debug.ui.ScriptWatch">
			</action>
			<!-- icon="$nl$/icons/etool16/insp_sbook.gif" -->
			<action label="%ScriptInspect.label"
				definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptInspect"
				class="org.eclipse.dltk.internal.debug.ui.actions.PopupScriptInspectAction"
				menubarPath="additions"
				id="mmrnmhrm.debug.ui.ScriptInspect">
			</action>
			<!-- icon="$nl$/icons/etool16/disp_sbook.gif" -->
			<action label="%ScriptDisplay.label"
				definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptDisplay"
				class="org.eclipse.dltk.internal.debug.ui.actions.PopupScriptDisplayAction"
				menubarPath="additions"
				id="mmrnmhrm.debug.ui.ScriptDisplay">
			</action>
		</viewerContribution>
	</extension>
	
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.debug.ui.launchActionSet">
			<part id="mmrnmhrm.ui.editors.DeeEditor" />
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.debug.ui.launchActionSet">
			<part id="org.eclipse.dltk.ui.ScriptExplorer" />
			<part id="mmrnmhrm.ui.editors.DeeEditor" />
		</actionSetPartAssociation>
	</extension>

	<extension point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="descent.debug.core.model"
            natureId="mmrnmhrm.core.nature"
            typeFactory="mmrnmhrm.ui.launch.RubyTypeFactory">
      </debugModel>
	</extension>
 <extension
       point="org.eclipse.dltk.ui.scriptDocumentationProviders">
    <provider
          class="mmrnmhrm.ui.editor.doc.DeeDocumentationProvider"
          id="mmrnmhrm.ui.DeeDocumentationProvider"
          nature="mmrnmhrm.core.nature">
    </provider>
 </extension>
   

</plugin>
