<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.LangDocumentSetupParticipant"
            contentTypeId="mmrnmhrm.core.content.dsource">
      </participant>
   </extension>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.LangDocumentSetupParticipant"
            extensions="d, di, dh">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="mmrnmhrm.ui.DeeUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/d-dark_ovr.gif"
            id="mmrnmhrm.ui.deeProjectNatureImage"
            natureId="mmrnmhrm.core.deenature"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="Mmrnmhrm.category"
            name="Dee (Mmrnmhrm)"/>
      <wizard
            category="Mmrnmhrm.category"
            class="mmrnmhrm.ui.wizards.DeeProjectWizard"
            icon="icons/obj16/dee_project.gif"
            id="Mmrnmhrm.wizard.newProject"
            name="Dee Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="mmrnmhrm.ui.properties.ProjConfigPropertyPage"
            id="mmrnmhrm.ui.properties.projectConfigPage"
            name="D Project Config"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="mmrnmhrm.core.deenature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            id="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            name="Dee"/>
      <page
            category="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            class="mmrnmhrm.ui.preferences.DeeColoringPreferencePage"
            id="mmrnmhrm.ui.preferences.SyntaxColoring"
            name="Syntax Coloring"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="mmrnmhrm.ui.editor.DeeEditor"
            contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
            icon="icons/obj16/dee_file.gif"
            id="mmrnmhrm.ui.editors.DeeEditor"
            name="Dee Editor (Mmrnmhrm)">
         <contentTypeBinding contentTypeId="mmrnmhrm.core.content.dsource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="mmrnmhrm"
            name="Dee"/>
      <view
            category="mmrnmhrm"
            class="mmrnmhrm.ui.views.ASTViewer"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.views.ASTViewer"
            name="D AST Viewer (Mmrnmhrm)"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Dee Source"
            id="mmrnmhrm.ui.contexts.DeeEditor"
            name="Editing Dee Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="mmrnmhrm.ui.expressions.activeEditorIsDeeEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
            <definition
            id="mmrnmhrm.ui.expressions.inView">
         <with
               variable="activePartId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="mmrnmhrm.ui.expressions.inDeeActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="mmrnmhrm.ui.deeActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
      

   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="mmrnmhrm.ui.deeActionSet"
            label="Mmrnmhrm Dee Action Set"
            visible="true">
         <action
               class="melnorme.util.ui.actions.SampleActionDelegate"
               helpContextId="org.eclipse.jdt.ui.open_type_action"
               icon="icons/action16e/opentype.gif"
               id="openType"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Mmrnmhrm com category"
            id="mmrnmhrm.ui.commands.category1"
            name="Mmrnmhrm Com category">
      </category>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest1Handler"
            id="mmrnmhrm.ui.commands.sampleCommand"
            name="Test Action">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest2Handler"
            id="mmrnmhrm.ui.commands.sampleCommand2"
            name="Test Action2">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.RefreshModelHandler"
            id="mmrnmhrm.ui.commands.refreshModel"
            name="Refresh Dee Model">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.ConfigureBuildPathHandler"
            id="mmrnmhrm.ui.commands.configureBuildPath"
            name="Configure Build Path">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.AddSourceFolderHandler"
            id="mmrnmhrm.ui.commands.buildPathAddRemove"
            name="Build Path Add/Remove">
      </command>
	<command
       categoryId="mmrnmhrm.ui.commands.category1"
       id="mmrnmhrm.ui.commands.openDefinition"
       name="Open Definition">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mmrnmhrm.ui.actions.SampleHandler"
            commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="mmrnmhrm.ui.editors.DeeEditor">
              </equals>
           </with>
        </activeWhen>
         
      </handler>
      <handler
            class="mmrnmhrm.ui.actions.GoToDefinitionHandler"
            commandId="mmrnmhrm.ui.commands.openDefinition">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="mmrnmhrm.ui.toolbars.sampleToolbar">
            <command
                  commandId="mmrnmhrm.ui.commands.refreshModel"
                  icon="icons/action16e/declipse.gif"
                  label="Refresh D Model"
                  tooltip="Refresh D Model">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.sampleCommand"
                  icon="icons/action16e/spathi.16.gif"
                  label="Sample Command1">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.sampleCommand2"
                  icon="icons/action16e/spathi.16.gif"
                  label="Sample Command2">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.openDefinition"
                  icon="icons/action16e/gotodef.gif">
            </command>
         </toolbar>
      </menuContribution>
            <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=group.build">
         <menu
               id="mmrnmhrm.ui.menus.buildpath"
               label="Dee Builld Path">
            <visibleWhen>
               <and>
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IFolder">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="mmrnmhrm.core.deenature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
            <separator
                  name="content">
            </separator>
            <separator
                  name="additions">
            </separator>
            <command
                  commandId="mmrnmhrm.ui.commands.buildPathAddRemove"
                  icon="icons/lcl16e/add_as_source_folder.gif"
                  mnemonic="%contributions.view.edit.mnemonic">
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.configureBuildPath"
                  icon="icons/lcl16e/configure_build_path.gif"
                  mnemonic="%contributions.view.edit.mnemonic">
            </command>
         </menu>
      </menuContribution>
            <menuContribution
                  locationURI="menu:mmrnmhrm.ui.menus.buildpath?after=content">
               <command
                     commandId="mmrnmhrm.ui.commands.refreshModel"
                     icon="icons/lcl16e/remove_as_source_folder.gif"
                     mnemonic="%contributions.view.edit.mnemonic">
               </command>
            </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mmrnmhrm.ui.commands.refreshModel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F5">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDefinition"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="mmrnmhrm.ui.views.ASTViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mmrnmhrm.ui.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="mmrnmhrm.ui.navigator.DeeNavigatorContentProvider"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.navigatorContent"
            labelProvider="mmrnmhrm.ui.navigator.DeeNavigatorLabelProvider"
            name="mmrnmhrm.navigatorContent"
            priority="high">
         <triggerPoints>
            <or>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="mmrnmhrm.deenature"/>
               </adapt>
               <instanceof value="mmrnmhrm.core.model.DeeSourceFolder"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <adapt type="org.eclipse.core.resources.IProject"/>
               <instanceof value="mmrnmhrm.core.model.DeeSourceFolder"/>
               <instanceof value="org.eclipse.core.resources.IResource"/>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>

</plugin>
