<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
>

<extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="mmrnmhrm.ui.DeeUILanguageToolkit"
          nature="mmrnmhrm.core.deenature"
          priority="0"/>
 </extension>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.DeeDocumentSetupParticipant"
            contentTypeId="mmrnmhrm.core.content.dsource">
      </participant>
   </extension>
   <extension
         id="DeeDocumentSetupParticipant"
         name="Dee Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.DeeDocumentSetupParticipant"
            extensions="d, di, dh">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="mmrnmhrm.ui.DeeUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/d-dark_ovr.gif"
            id="mmrnmhrm.ui.deeProjectNatureImage"
            natureId="mmrnmhrm.core.deenature"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="mmrnmhrm.category"
            name="Dee (Mmrnmhrm)"/>
      <wizard
            category="mmrnmhrm.category"
            class="mmrnmhrm.ui.wizards.DeeProjectWizard"
            icon="icons/obj16/dee_project.gif"
            id="Mmrnmhrm.wizard.newProject"
            name="Dee Project"
            project="true"/>
      <wizard
            category="mmrnmhrm.category"
            class="mmrnmhrm.ui.wizards.DeeProjectCreationWizard"
            id="mmrnmhrm.ui.wizards.deeProjectWizard"
            name="Dee Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="mmrnmhrm.ui.properties.DeeBuildPathPropertyPage"
            id="mmrnmhrm.ui.properties.DeeBuildpathProperties"
            name="D Project Config">
         <enabledWhen>
            <reference
                  definitionId="mmrnmhrm.core.expressions.isDeeNature">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
            id="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
            name="%LangPreferencePage.name"/>
      	<page
	          category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
	          class="mmrnmhrm.ui.preferences.DeeEditorPreferencesPage"
	          id="mmrnmhrm.ui.preferences.Editor"
	          name="%LangEditorPreferencePage.name"/>
	    <page
	          category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
	          class="mmrnmhrm.ui.preferences.DeeSourceColoringPreferencePage"
	          id="mmrnmhrm.ui.preferences.editor.SourceColoring"
	          name="%LangEditorSyntaxColoringPreferencePage.name"/>
     	<page
              category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
              class="mmrnmhrm.ui.preferences.DeeTemplatePreferencePage"
              id="mmrnmhrm.ui.preferences.EditorTemplates"
              name="%LangCodeTemplatesPreferencePage.name">      
            
      </page>
      <page
            category="mmrnmhrm.ui.preferences.DeeRootPreferencePage"
            class="mmrnmhrm.ui.preferences.DeeCompilersPreferencePage"
            id="mmrnmhrm.ui.preferences.editor.SourceColoring"
            name="%LangCompilersPreferencePage.name">
      </page>
   </extension>
   	 <extension
	     point="org.eclipse.ui.editors">
	  <editor
         class="mmrnmhrm.ui.editor.DeeEditor"
         contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
         default="true"
         icon="icons/obj16/dee_file.gif"
         id="mmrnmhrm.ui.editors.DeeEditor"
         name="%LangEditor.name">
      <contentTypeBinding
            contentTypeId="mmrnmhrm.core.content.dsource">
      </contentTypeBinding>
      </editor>
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="mmrnmhrm"
            name="Dee"/>
      <view
            category="mmrnmhrm"
            class="mmrnmhrm.ui.views.ASTViewer"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.views.ASTViewer"
            name="D AST Viewer (Mmrnmhrm)"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%LangEditContext.name"
            description="%LangEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="mmrnmhrm.ui.contexts.DeeEditor">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="mmrnmhrm.ui.expressions.activeEditorIsDeeEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
            <definition
            id="mmrnmhrm.ui.expressions.inView">
         <with
               variable="activePartId">
            <equals
                  value="mmrnmhrm.ui.editors.DeeEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="mmrnmhrm.ui.expressions.inDeeActionSet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="mmrnmhrm.ui.deeActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
      

   </extension>
   
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="mmrnmhrm.ui.editor.templates.DeeUniversalTemplateContextType"
          id="DeeUniversalTemplateContextType"
          name="%LangTemplateContext.name">
    </contextType>
    <!--<include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include> -->
 </extension>   

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="mmrnmhrm.ui.deeActionSet"
            label="Mmrnmhrm Dee Action Set"
            visible="true">

         <menu
               label="%SearchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
			   <groupMarker name="dialogGroup"/>
         </menu>
            
         <action
               class="mmrnmhrm.ui.actions.DeeOpenSearchPageAction"
               definitionId="mmrnmhrm.ui.commands.openDeeSearchPage"
               icon="icons/search_obj.gif"
               id="deeOpenSearchPage"
               label="%OpenLangSearchPageAction.label"
               menubarPath="org.eclipse.search.menu/dialogGroup">
         </action>
 
           <action
               definitionId="mmrnmhrm.ui.commands.deeOpenTypeInHierarchy"
               label="%OpenTypeInHierarchyAction.label"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="mmrnmhrm.ui.actions.DeeOpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
            
         <action
            class="mmrnmhrm.ui.actions.DeeOpenTypeAction"
            definitionId="mmrnmhrm.ui.commands.openDeeType"
            icon="icons/action16e/opentype.gif"
            id="openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Mmrnmhrm Command Category"
            id="mmrnmhrm.ui.commands.category1"
            name="Mmrnmhrm Command Category">
      </category>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest1Handler"
            id="mmrnmhrm.ui.commands.sampleCommand"
            name="Test Action">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest2Handler"
            id="mmrnmhrm.ui.commands.sampleCommand2"
            name="Test Action2">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.RefreshModelHandler"
            id="mmrnmhrm.ui.commands.refreshModel"
            name="Refresh Dee Model">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.ConfigureBuildPathHandler"
            id="mmrnmhrm.ui.commands.configureBuildPath"
            name="Configure Build Path">
      </command>
      <command
            categoryId="mmrnmhrm.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.AddSourceFolderHandler"
            id="mmrnmhrm.ui.commands.buildPathAdd"
            name="Add as Source Folder">
      </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.RemoveSourceFolderHandler"
       id="mmrnmhrm.ui.commands.buildPathRemove"
       name="Remove from Build Path">
 </command>
	<command
       categoryId="mmrnmhrm.ui.commands.category1"
       id="mmrnmhrm.ui.commands.openDefinition"
       name="Open Definition">
      </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeContentAssistHandler"
       id="mmrnmhrm.ui.commands.invokeContentAssist"
       name="Content Assist (Mmrnmhrm)">
 </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenTypeHandler"
       id="mmrnmhrm.ui.commands.openDeeType"
       name="%OpenTypeAction.label">
 </command>
 <command
       categoryId="mmrnmhrm.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenSearchPageHandler"
       id="mmrnmhrm.ui.commands.openDeeSearchPage"
       name="%OpenLangSearchPageAction.label">
 </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mmrnmhrm.ui.actions.SampleHandler"
            commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="mmrnmhrm.ui.editors.DeeEditor">
              </equals>
           </with>
        </activeWhen>
         
      </handler>
      <handler
            class="mmrnmhrm.ui.actions.GoToDefinitionHandler"
            commandId="mmrnmhrm.ui.commands.openDefinition">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.texteditor.ITextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="mmrnmhrm.ui.toolbars.sampleToolbar">
            <command
                  commandId="mmrnmhrm.ui.commands.refreshModel"
                  icon="icons/action16e/declipse.gif"
                  label="Refresh D Model"
                  tooltip="Refresh D Model">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.openDeeType"
                  icon="icons/action16e/opentype.gif"
                  label="%OpenTypeAction.label"
                  tooltip="%OpenTypeAction.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.sampleCommand2"
                  icon="icons/action16e/spathi.16.gif"
                  label="Sample Command2">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.openDefinition"
                  icon="icons/action16e/gotodef.gif"
                  label="Open Definition">
               <visibleWhen>
                  <reference
                        definitionId="mmrnmhrm.ui.expressions.inDeeActionSet">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
            <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=group.build">
         <menu
               id="mmrnmhrm.ui.menus.buildpath"
               label="Dee Builld Path">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <or>
                        <reference
                              definitionId="mmrnmhrm.core.expressions.isDeeNatureContainer">
                        </reference>
                        <instanceof
                              value="org.eclipse.dltk.core.IProjectFragment">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
            <separator
                  name="content"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <command
                  commandId="mmrnmhrm.ui.commands.buildPathAdd"
                  icon="icons/lcl16e/add_as_source_folder.gif"
                  mnemonic="%contributions.view.edit.mnemonic">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.buildPathRemove"
                  icon="icons/lcl16e/remove_as_source_folder.gif"
                  mnemonic="%contributions.view.edit.mnemonic">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <instanceof
                              value="org.eclipse.dltk.core.IProjectFragment">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="mmrnmhrm.ui.commands.configureBuildPath"
                  icon="icons/lcl16e/configure_build_path.gif"
                  mnemonic="%contributions.view.edit.mnemonic">
            </command>
         </menu>
      </menuContribution>
      
      

      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mmrnmhrm.ui.commands.refreshModel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F5">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDefinition"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.invokeContentAssist"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Space">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDeeType"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="mmrnmhrm.ui.commands.openDeeSearchPage"
            contextId="mmrnmhrm.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+H">
      </key>
   </extension>

 <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="mmrnmhrm.ui.search.DeeSearchPage"
            enabled="true"
            extensions="d,di,dh:90"
            icon="$nl$/icons/sample.gif"
            id="mmrnmhrm.ui.DeeSearchPage"
            label="%LangSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>   
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="mmrnmhrm.ui.views.ASTViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mmrnmhrm.ui.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="mmrnmhrm.ui.navigator.DeeNavigatorContentProvider"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.navigatorContent"
            labelProvider="mmrnmhrm.ui.navigator.DeeNavigatorLabelProvider"
            name="Dee Elements"
            priority="high">
         <triggerPoints>
            <or>
               <reference
                     definitionId="mmrnmhrm.core.expressions.isDeeNature">
               </reference>
               <instanceof value="mmrnmhrm.core.model.IDeeElement"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.core.resources.IResource"/>
               <instanceof
                     value="mmrnmhrm.core.model.IDeeElement">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="mmrnmhrm.ui.navigator.DeeCommonActionProvider"
               id="mmrnmhrm.ui.actions.navigatorActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="mmrnmhrm.ui.texteditor.deeCodeTarget"
            name="Dee Code Target">
         <context
               type="org.eclipse.ui.texteditor.ITextEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector"
            id="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector2"
            name="Dee Element"
            targetId="mmrnmhrm.ui.texteditor.deeCodeTarget">
      </hyperlinkDetector>
   </extension>

</plugin>
