<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="D Editor"
            icon="icons/d.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="descent.ui.text.DEditor"
            id="descent.ui.text.DEditor">
         <contentTypeBinding contentTypeId="descent.core.dSource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="descent.ui.text.outline.DOutlineLightweightLabelDecorator"
            id="descent.ui.outline.decorator"
            label="D Outline Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass name="descent.core.dom.ASTNode"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="descent.ui.d"
            name="D"/>
      <wizard
            category="descent.ui.d"
            class="descent.ui.wizards.DProjectWizard"
            icon="icons/dproject.gif"
            id="descent.ui.wizards.DProjectWizard"
            name="D Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="descent.ui.preferences.DMainPreferencePage"
            id="descent.ui.preferences.DMainPreferencePage"
            name="D"/>
      <page
            category="descent.ui.preferences.DMainPreferencePage"
            class="descent.ui.preferences.DInstalledCompilersPreferencePage"
            id="descent.ui.preferences.DInstalledCompilersPreferencePage"
            name="Installed Compilers"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/d_ovr.gif"
            id="descent.ui.dProjectNatureImage"
            natureId="descent.core.dnature"/>
   </extension>
   
   <!-- CommonNavigator -->
   
	
   
   <!--
   <extension
         id="dbuilder"
         name="D Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder >
         <run class="descent.ui.builders.DProjectBuilder"/>
      </builder>
   </extension>
	-->
</plugin>
