<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="deenature"
         name="Dee nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="mmrnmhrm.core.model.DeeNature"/>
      </runtime>
   </extension>
   <extension
         id="deebuilder"
         name="Dee Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="mmrnmhrm.core.build.DeeBuilder">
            <parameter
                  name="comment"
                  value="Builder comment"/>
         </run>
      </builder>
   </extension>
   <extension
         id="deeproblem"
         name="Dee Problem Name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="dm, d"
            id="mmrnmhrm.core.dmsource"
            name="D Source (Mmrnmhrm)"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="mmrnmhrm.ui.DeePreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/d-dark_ovr.gif"
            id="mmrnmhrm.ui.deeProjectNatureImage"
            natureId="mmrnmhrm.deenature"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="Mmrnmhrm.category"
            name="Dee (Mmrnmhrm)"/>
      <wizard
            category="Mmrnmhrm.category"
            class="mmrnmhrm.ui.wizards.DeeProjectWizard"
            icon="icons/obj16/dee_project.gif"
            id="Mmrnmhrm.wizard.newProject"
            name="Dee Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="mmrnmhrm.ui.properties.ProjConfigPropertyPage"
            id="mmrnmhrm.ui.properties.samplePropertyPage"
            name="D Project Config"
            objectClass="org.eclipse.core.resources.IContainer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="mmrnmhrm.ui.editor.DeeEditor"
            contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
            icon="icons/obj16/dee_file.gif"
            id="Mmrnmhrm.editors.DeeEditor"
            name="Dee Editor (Mmrnmhrm)">
         <contentTypeBinding contentTypeId="mmrnmhrm.core.dmsource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="Mmrnmhrm.editorContribution1"
            targetID="Mmrnmhrm.editors.DeeEditor">
         <action
               class="mmrnmhrm.ui.actions.GoToDefinitionAction"
               icon="icons/action16e/gotodef.gif"
               id="Mmrnmhrm.actions.GotoDef"
               label="Go to Definition"
               menubarPath="Mmrnmhrm.menu/additions"
               toolbarPath="additions"/>
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Mmrnmhrm Action Set"
            visible="true"
            id="mmrnmhrm.actionSet">
          <action
               id="openType"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="melnorme.util.ui.actions.SampleActionDelegate"
               icon="icons/action16e/opentype.gif"
               helpContextId="org.eclipse.jdt.ui.open_type_action"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeAction.tooltip">
         </action>
          <action
                class="mmrnmhrm.ui.actions.TestActionDg2"
                icon="icons/action16e/spathi.16.gif"
                id="testAction2"
                label="Test 2"
                style="push"
                toolbarPath="additions"/>
          <action
                class="mmrnmhrm.ui.actions.TestActionDg1"
                icon="icons/action16e/spathi.16.gif"
                id="testAction1"
                label="Test 1"
                toolbarPath="additions"/>         
     </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="mmrnmhrm.ctxmenu.buildpath"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="mmrnmhrm.buildpathMenu"
               label="Dee Builld Path"
               path="group.build">
            <separator name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="mmrnmhrm.ui.actions.AddSourceFolderActionDg"
               enablesFor="1"
               icon="icons/lcl16e/add_as_source_folder.gif"
               id="mmrnmhrm.actions.buildpathAdd"
               label="Build Path Action"
               menubarPath="mmrnmhrm.buildpathMenu/content"/>
         <action
               class="melnorme.util.ui.actions.SampleActionDelegate"
               icon="icons/lcl16e/configure_build_path.gif"
               id="mmrnmhrm.actions.buildpath.Setup"
               label="Configure Build Path (TODO)"
               menubarPath="mmrnmhrm.buildpathMenu/content"/>
         <filter
               name="projectNature"
               value="mmrnmhrm.deenature"/>
      </objectContribution>
      <viewerContribution
            id="mmrnmhrm.TEST.editorContribution"
            targetID="#DeeASTViewerContext">
         <menu
               id="Mmrnmhrm.editorMenu"
               label="Declarative Menu"
               path="additions">
            <groupMarker name="content"/>
         </menu>
         <action
               class="melnorme.util.ui.actions.SampleActionDelegate"
               id="Mmrnmhrm.action1"
               label="=Declarative Action"
               menubarPath="Mmrnmhrm.editorMenu/content"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mmrnmhrm.ui.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="mmrnmhrm.ui.navigator.DeeNavigatorContentProvider"
            icon="icons/sample.gif"
            id="mmrnmhrm.ui.navigatorContent"
            labelProvider="mmrnmhrm.ui.navigator.DeeNavigatorLabelProvider"
            name="mmrnmhrm.navigatorContent"
            priority="high">
         <triggerPoints>
            <or>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="mmrnmhrm.deenature"/>
               </adapt>
               <instanceof value="mmrnmhrm.core.model.DeeSourceFolder"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <adapt type="org.eclipse.core.resources.IProject"/>
               <instanceof value="mmrnmhrm.core.model.DeeSourceFolder"/>
               <instanceof value="org.eclipse.core.resources.IResource"/>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            id="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            name="Dee"/>
      <page
            category="mmrnmhrm.ui.preferences.DeeBasePreferencePage"
            class="mmrnmhrm.ui.preferences.DeeColoringPreferencePage"
            id="mmrnmhrm.ui.preferences.SyntaxColoring"
            name="Syntax Coloring"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="mmrnmhrm"
            name="Dee"/>
      <view
            category="mmrnmhrm"
            class="mmrnmhrm.ui.views.ASTViewer"
            icon="icons/sample.gif"
            id="mmrnmhrm.views.ASTViewer"
            name="D AST Viewer (Mmrnmhrm)"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="mmrnmhrm.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>

</plugin>
