<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="descent.internal.ui.javaeditor.CompilationUnitEditor"
            class="descent.internal.debug.ui.adapters.DescentBreakpointAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="descent.debugging"
            debugModelId="descent.debug.core.model"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="descent.internal.debug.ui.model.DescentDebugModelPresentation"
            id="descent.debug.core.model"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="descent.debug.core.localDApplication"
            icon="icons/full/etool16/d_app.gif"
            id="descent.debug.core.launcConfigurationTypeImage.localDApplication"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="descent.internal.debug.ui.DescentLaunchConfigurationTabGroup"
            id="descent.debug.core.launcConfigurationTabGroup.localDApplication"
            type="descent.debug.core.localDApplication"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="descent.internal.debug.ui.DescentLaunchShortcut"
            icon="icons/full/etool16/d_app.gif"
            id="descent.debug.core.launchShortcuts.localDApplication"
            label="D Application"
            modes="run,debug">
         <perspective id="descent.ui.JavaPerspective"/>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <and>
	                     <test property="descent.launching.hasProjectNature" args="descent.core.dnature"/>
	                     <test property="descent.launching.isExecutable"/>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings renderingIds="org.eclipse.debug.ui.rendering.raw_memory, org.eclipse.debug.ui.rendering.ascii, org.eclipse.debug.ui.rendering.signedint, org.eclipse.debug.ui.rendering.unsignedint">
         <enablement>
            <instanceof value="descent.internal.debug.core.model.DescentMemoryBlock"/>
         </enablement>
      </renderingBindings>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Debugging D"
            id="descent.debugging"
            name="Debugging D"
            parentId="org.eclipse.debug.ui.debugging"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="descent.debug.core.ui.CompilationUnitEditor.BreakpointRulerActions"
            targetID="descent.ui.CompilationUnitEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="descent.debug.core.ui.actions.ManageBreakpointRulerAction"
               label="Toggle &amp;Breakpoint"
               />
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="descent.ui.preferences.JavaBasePreferencePage"
            class="descent.internal.debug.ui.preferences.DescentDebugPreferencesPage"
            id="descent.debug.core.ui.DescentDebugPreferencesPage"
            name="Debug"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.debug.ui.RegisterView"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               visible="true"/>
         <view
               id="org.eclipse.debug.ui.MemoryView"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               visible="true"/>
         <viewShortcut id="org.eclipse.debug.ui.RegisterView"/>
         <viewShortcut id="org.eclipse.debug.ui.MemoryView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.dsss"
            processType="dsss">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.rebuild"
            processType="rebuild">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.dmd"
            processType="dmd">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.gdc"
            processType="gdc">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.ldc"
            processType="ldc">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.gdmd"
            processType="gdmd">
      </consoleLineTracker>
      <consoleLineTracker
            class="descent.internal.debug.ui.console.DmdfeConsoleLineTracker"
            id="descent.console.dmdfeConsoleLineTracker.bud"
            processType="bud">
      </consoleLineTracker>
   </extension>
</plugin>
