<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            name="ASTView"
            icon="$nl$/icons/view.gif"
            category="descent.ui.java"
            class="descent.astview.views.ASTView"
            id="descent.astview.views.ASTView">
      </view>
      <category
            id="descent.ui.java"
            name="D"/>
   </extension>
   


  
  
  
</plugin>
