<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="descentLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="descent.internal.launching.DescentLaunchConfigurationDelegate"
            id="descent.launching.localDApplication"
            modes="run, debug"
            name="D Application"
            sourceLocatorId="descent.launching.descentSourceLookupDirector"
            sourcePathComputerId="descent.launching.descentSourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="descent.launching.model.DescentLineBreakpoint"
            id="descent.launching.descentLineBreakpoint"
            markerType="descent.launching.descentLineBreakpointMarker"
            name="Ddbg Line Breakpoint"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="descent.internal.launching.DescentSourceLookupDirector"
            id="descent.launching.descentSourceLookupDirector"
            name="Descent Source Lookup Director"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="descent.internal.launching.DescentSourcePathComputerDelegate"
            id="descent.launching.descentSourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="descent.launching.model"
            delegateClass="descent.internal.launching.DescentWatchExpressionDelegate"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="descent.internal.launching.preferences.DescentDebugPreferencesInitializer"/>
   </extension>

</plugin>
